.login-box{
    border: 1px solid rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.login-box-items{
    display:flex
}